html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.dropdown-arrow {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-28%);
    pointer-events: none; 
    color: #555;
    font-size: 2.5rem;
}
